@{
    ViewData["Title"] = "Home Page";
}

<div class="container tm-mt-big">
    <div class="tm-block text-center">
        <h1 class="tm-block-title">Добро пожаловать</h1>
        <p class="tm-small">
            Узнайте больше о
            <a class="tm-notification-link" href="https://learn.microsoft.com/aspnet/core">
                создании веб‑приложений на ASP.NET Core
            </a>.
        </p>
    </div>
</div>

