@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container tm-mt-big">
    <div class="tm-block">
        <h1 class="tm-block-title text-center">@ViewData["Title"]</h1>
        <p class="tm-small">
            Используйте эту страницу для описания политики конфиденциальности вашего сайта.
        </p>
    </div>
</div>
